<div class="card p-3">
    <div class="row mt-3 text-center">
        <img src="../../../assets/images/logos/photo_2023-10-14_16-50-22.jpg" alt="" class="img img-fluid w-50">
    </div>
    <a class="login">Inicio de sesión</a>
    <div class="inputBox">
        <input type="text" id="usuario" required="required">
        <span class="user">Usuario</span>
    </div>

    <div class="inputBox">
        <input type="password" id="contrasena" required="required">
        <span>Contraseña</span>
    </div>
    <div class="row d-flex">
        <button class="enter mx-1" (click)="ingresar()">Ingresar</button>
        <button class="enter mx-1" (click)="passKeyLogIn()">PassKey</button>
    </div>
</div>
